---
permalink: /rss/
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="0; url=/rss.xml">
    <link rel="canonical" href="{{ site.url }}/rss.xml">
    <title>RSS - {{ site.title }}</title>
</head>
<body>
    <p>The feed has moved to <a href="/rss.xml">/rss.xml</a>.</p>
</body>
</html>
